<div *ngIf="product" class="bg-white p-4 rounded shadow-md">
  <img [src]="product.imageUrl" alt="Product Image" class="mb-2 w-64 h-64 object-contain">
  <h2 class="text-2xl font-semibold">{{ product.name }}</h2>
  <p class="text-gray-600">{{ product.price }} {{ selectedCurrencySymbol }}</p>
  <p>{{ product.description }}</p>
  <button (click)="addProductToCart()" class="mt-4 w-20 bg-blue-500 hover:bg-blue-600 ease-in duration-300  text-white px-4 py-2 rounded">Купить</button>
  <button (click)="goBack()" class="mt-4 ml-2 w-20 bg-gray-500 hover:bg-gray-600 ease-in duration-300  text-white px-4 py-2 rounded">Назад</button>
</div>

<div class="mt-8">
  <h3 class="m-2 text-xl font-semibold">Комментарии</h3>
  <ul class="list-disc pl-6 mt-2">
    <li *ngFor="let comment of comments">{{ comment }}</li>
  </ul>
</div>

<div class="mt-8">
  <h3 class="m-2 text-xl font-semibold">Добавить комментарий</h3>
  <textarea [(ngModel)]="newComment" class="m-2 p-2 w-3/5 border rounded mt-2 resize-none" rows="4"></textarea>
  <br/>
  <button (click)="addComment()" class="m-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 ease-in duration-300 ">Добавить комментарий</button>
</div>
